In [61]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [62]:
full_labels = pd.read_csv('data/simulator_images_labels.csv')

In [63]:
full_labels.head()

       filename  width  height class  xmin  ymin  xmax  ymax
0  image164.jpg    800     600   Red    84   487   107   539
1  image164.jpg    800     600   Red   189   489   212   541
2  image164.jpg    800     600   Red   293   492   316   544
3   image93.jpg    800     600   Red     1    68    77   266
4   image93.jpg    800     600   Red   378    73   475   270

In [64]:
grouped = full_labels.groupby('filename')

In [65]:
grouped.apply(lambda x: len(x)).value_counts()

3    71
2     5
1     4
dtype: int64

### split each file into a group in a list

In [66]:
gb = full_labels.groupby('filename')

In [67]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [68]:
len(grouped_list)

80

In [69]:
train_index = np.random.choice(len(grouped_list), size=int(0.7 * len(grouped_list)), replace=False)
test_index = np.setdiff1d(list(range(len(grouped_list))), train_index)

In [70]:
len(train_index), len(test_index)

(56, 24)

In [71]:
# make train and test files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [72]:
len(train), len(test)

(161, 66)

In [73]:
train.to_csv('./data/simulator_train_labels.csv', index=None)
test.to_csv('./data/simulator_test_labels.csv', index=None)